.body {
    background-color: #FF00F50D;
    border-radius: 25px;
    padding: 30px;
}

.xHalfaxis {
    display: flex;
    gap: 70px;
    margin-top: 20px;
    margin-left: 70px;
}

.xFullaxis {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-left: 70px; 
}

.yaxis {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    width: 70px;
}

.columns {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
}

.container {
    display: flex;
    gap: 20px;
}